<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListaCiudades</servlet-name>
        <jsp-file>/ListaCiudades.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>UsuarioControlador</servlet-name>
        <servlet-class>controladores.UsuarioControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaisControlador</servlet-name>
        <servlet-class>controladores.PaisControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutorControlador</servlet-name>
        <servlet-class>controladores.AutorControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CiudadControlador</servlet-name>
        <url-pattern>/CiudadControlador</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CiudadControlador</servlet-name>
        <servlet-class>controladores.CiudadControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListaCiudades</servlet-name>
        <url-pattern>/ListaCiudades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioControlador</servlet-name>
        <url-pattern>/UsuarioControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaisControlador</servlet-name>
        <url-pattern>/PaisControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutorControlador</servlet-name>
        <url-pattern>/AutorControlador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
